Logic/src/resources/schema/MAGit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root-folder">
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MagitRepository">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="location"/>
				<xs:element ref="MagitBlobs"/>
				<xs:element ref="MagitFolders"/>
				<xs:element ref="MagitCommits"/>
				<xs:element ref="MagitBranches"/>
				<xs:element name="MagitRemoteReference" minOccurs="0">
					<xs:complexType>
						<xs:all>
							<xs:element ref="location"/>
							<xs:element ref="name"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="preceding-commits">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="preceding-commit" maxOccurs="2">
					<xs:complexType>
						<xs:attribute name="id" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="message" type="xs:string"/>
	<xs:element name="location" type="xs:string"/>
	<xs:element name="last-updater" type="xs:string"/>
	<xs:element name="last-update-date" type="xs:string"/>
	<xs:element name="item">
		<xs:complexType>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="blob"/>
						<xs:enumeration value="folder"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="head" type="xs:string"/>
	<xs:element name="MagitFolders">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MagitSingleFolder" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MagitSingleFolder">
		<xs:complexType>
			<xs:all>
				<xs:element ref="name" minOccurs="0"/>
				<xs:element ref="last-updater"/>
				<xs:element ref="last-update-date"/>
				<xs:element name="items">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="item" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="is-root" default="false">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="date-of-creation" type="xs:string"/>
	<xs:element name="creator" type="xs:string"/>
	<xs:element name="creation-date" type="xs:string"/>
	<xs:element name="content" type="xs:string"/>
	<xs:element name="MagitCommits">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MagitSingleCommit" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MagitSingleCommit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="root-folder"/>
				<xs:element ref="message"/>
				<xs:element ref="author"/>
				<xs:element ref="date-of-creation"/>
				<xs:element ref="preceding-commits" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MagitBranches">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head"/>
				<xs:element ref="MagitSingleBranch" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MagitSingleBranch">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element name="pointed-commit">
					<xs:complexType>
						<xs:attribute name="id" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="tracking-after" type="xs:string" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="is-remote" type="xs:boolean" default="false"/>
			<xs:attribute name="tracking" type="xs:boolean" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MagitBlobs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MagitBlob" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MagitBlob">
		<xs:complexType>
			<xs:all>
				<xs:element ref="name"/>
				<xs:element ref="last-updater"/>
				<xs:element ref="last-update-date"/>
				<xs:element ref="content"/>
			</xs:all>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="author" type="xs:string"/>
</xs:schema>
